<div id="splash-container">
  <img src="<%= asset_path( 'flkr.jpg' ) %>" id="splash">

  <div class="group" id="root-page-search-bar-container">
    <h1>Find a place to stay.</h1>
    <h3>Rented all around the world</h3>
    <form action="<%= spaces_url %>" class="group" id="root-page-search-bar">

      <%= tag "input", type: "text",
                placeholder: "Where do you want to go? ",
                       name: "space_filters[city]",
                      class: "text-input input-large",
                         id: "root-input-city-name" %>

      <%= select_numerical_given_options(html_name: "space_filters[guest_count]",
                                       plural_noun: "guests") %>

      <input type="submit" value="Search" class="button blue input-large" id="search-button">
		
    </form>
  </div>
  <%= link_to "(c) StayHappi.com 2014", id: "log-in-header", method: :get %> | <%= link_to "POLICIES", policies_path, id: "log-in-header", method: :get %> | <%= link_to "TERMS & CONDITIONS", terms_path, id: "log-in-header", method: :get %>
 <!-- <h3>For any queries mail us 24x7 to contact@stayhappi.com --> 
 </h3>
</div>