<!DOCTYPE html>
<html>
<head>
  <title>stayhappi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=237904599732344&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <%= render "header/header" %>

  <% if flash[:errors] || flash[:notices] %>
    <div class="group" id='errors-notices'>
      <%= render "header/flash_errors" %>
      <%= render "header/flash_notices" %>
    </div>
  <% end %>

  <% unless params[:controller] == "root" %>
    <div class="main group">
      <%= yield %>
    </div>
  <% else %>
      <%= yield %>
  <% end %>

</body>
</html>
